# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,jsx,ts,tsx,vue,svelte,html,css,scss,less,json,jsonc,yaml,yml,graphql,gql,md,mdx}]
indent_size = 2

[*.{go,txt}]
indent_style = tab

# 单独列出 Zig 配置，是因为 Go 社区对 Tab 宽度没有强烈共识，而 Zig 官方明确推荐渲染为 4 列宽
[*.zig]
indent_size = 4
indent_style = tab

[Makefile]
indent_style = tab
